.cu-tooltip {
  font-size: 12px;
  background: #303133;
  color: #fff;
  padding: 8px;
  max-width: 400px;
  border-radius: var(--cu-border-radius);
  filter: drop-shadow(0 0px 4px rgba(0, 0, 0, 0.12));
}

.cu-tooltip .cu-tooltip__arrow {
  position: absolute;
  display: block;
  width: 8px;
  height: 8px;
  background: inherit;
  translate: 0 -50%;
  rotate: 45deg;
  border-left-color: transparent !important;
  border-top-color: transparent !important;
}

.cu-tooltip[data-placement^='bottom'] > .cu-tooltip__arrow {
  top: 0;
  rotate: 225deg;
}
.cu-tooltip[data-placement^='top'] > .cu-tooltip__arrow {
  bottom: 0;
  translate: 0 50%;
}
.cu-tooltip[data-placement^='left'] > .cu-tooltip__arrow {
  right: 0;
  translate: 50% 0;
  rotate: -45deg;
}
.cu-tooltip[data-placement^='right'] > .cu-tooltip__arrow {
  left: 0;
  translate: -50% 0;
  rotate: 135deg;
}

.cu-tooltip.light {
  color: var(--cu-text-color);
  background: #fff;
}

.cu-tooltip.primary {
  background: var(--cu-color-primary);
}

.cu-tooltip.success {
  background: var(--cu-color-success);
}

.cu-tooltip.warning {
  background: var(--cu-color-warning);
}

.cu-tooltip.danger {
  background: var(--cu-color-danger);
}
