.cu-preview-image {
  position: relative;
  width: 100%;
  height: 100%;
}

.cu-preview__buttons i {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  font-size: 20px;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(8px);
  color: #fff;
  z-index: 2;
  cursor: pointer;
  transition: all 200ms;
  border: 1px solid rgba(255, 255, 255, 0.2);
}

.cu-preview-image .close {
  right: 20px;
  top: 20px;
}

.cu-preview-image .left {
  left: 20px;
  top: 50%;
}

.cu-preview-image .right {
  right: 20px;
  top: 50%;
}

.cu-preview__list {
  position: absolute;
  inset: 0;
  overflow: hidden;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cu-preview__list > div {
  position: absolute;
}

.cu-preview__list img {
  transition: transform 200ms;
  user-select: none;
  -webkit-user-drag: none;
}

.cu-preview__tools {
  position: absolute;
  left: 50%;
  bottom: 80px;
  transform: translateX(-50%);
  background-color: rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(8px);
  z-index: 2;
  padding: 10px 20px;
  font-size: 23px;
  line-height: 1;
  border-radius: 10px;
  box-shadow: var(--cu-boxshadow-base);
  border: 1px solid rgba(255, 255, 255, 0.2);
  color: #fff;
  display: flex;
  align-items: center;
  gap: 20px;
}

.cu-preview__tools > svg {
  transition: all 200ms;
  cursor: pointer;
}

.cu-preview__buttons i:hover {
  border-color: rgba(255, 255, 255, 0.7);
}

.cu-preview__tools > svg:hover {
  transform: scale(1.1);
}
