.cu-button {
  --cu-button-color: var(--cu-text-color);
  --cu-button-color-hover: #ffffff;
  --cu-button-color-disabled: var(--cu-text-color-light5);
  --cu-button-border: var(--cu-border-color);
  --cu-button-border-hover: var(--cu-color-primary);
  --cu-button-border-disabled: var(--cu-border-color);
  --cu-button-background: #ffffff;
  --cu-button-background-hover: var(--cu-color-primary);
  --cu-button-background-disabled: #ffffff;
  --cu-button-round: calc(var(--cu-size-default) / 2);
  padding: 0 12px;
  border-radius: var(--cu-border-radius);
  border: 1px solid;
  cursor: pointer;
  height: var(--cu-size-default);
  font-size: 14px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  line-height: 1;
  user-select: none;
  white-space: nowrap;
  background-color: var(--cu-button-background);
  border-color: var(--cu-button-border);
  color: var(--cu-button-color);
  transition: all 200ms;
  outline: none;
  vertical-align: middle;
  /* test */
  /* border-radius: var(--cu-border-radius-base); */
  /* border-color: #3b3e45 !important; */
  /* color: #3b3e45 !important; */
  /* border-width: 2px; */
}

.cu-button.large {
  height: var(--cu-size-large);
  --cu-button-round: calc(var(--cu-size-large) / 2);
}
.cu-button.small {
  padding: 0 8px;
  height: var(--cu-size-small);
  font-size: 12px;
  --cu-button-round: calc(var(--cu-size-small) / 2);
}

.cu-button.is-round {
  border-radius: var(--cu-button-round);
}
.cu-button.is-circle {
  width: var(--cu-size-default);
  padding: 0;
  text-align: center;
  border-radius: 50%;
}

.cu-button.is-circle.small {
  width: var(--cu-size-small);
}
.cu-button.is-circle.large {
  width: var(--cu-size-large);
}

.cu-button.is-raised {
  box-shadow: var(--cu-boxshadow-base);
}

.cu-button--primary {
  --cu-button-color: #ffffff;
  --cu-button-color-disabled: #ffffff;
  --cu-button-border: var(--cu-color-primary);
  --cu-button-border-hover: var(--cu-color-primary-light2);
  --cu-button-border-disabled: var(--cu-color-primary-light4);
  --cu-button-background: var(--cu-color-primary);
  --cu-button-background-hover: var(--cu-color-primary-light2);
  --cu-button-background-disabled: var(--cu-color-primary-light4);
}

.cu-button--success {
  --cu-button-color: #ffffff;
  --cu-button-color-disabled: #ffffff;
  --cu-button-border: var(--cu-color-success);
  --cu-button-border-hover: var(--cu-color-success-light2);
  --cu-button-border-disabled: var(--cu-color-success-light4);
  --cu-button-background: var(--cu-color-success);
  --cu-button-background-hover: var(--cu-color-success-light2);
  --cu-button-background-disabled: var(--cu-color-success-light4);
}
.cu-button--warning {
  --cu-button-color: #ffffff;
  --cu-button-color-disabled: #ffffff;
  --cu-button-border: var(--cu-color-warning);
  --cu-button-border-hover: var(--cu-color-warning-light2);
  --cu-button-border-disabled: var(--cu-color-warning-light4);
  --cu-button-background: var(--cu-color-warning);
  --cu-button-background-hover: var(--cu-color-warning-light2);
  --cu-button-background-disabled: var(--cu-color-warning-light4);
}
.cu-button--danger {
  --cu-button-color: #ffffff;
  --cu-button-color-disabled: #ffffff;
  --cu-button-border: var(--cu-color-danger);
  --cu-button-border-hover: var(--cu-color-danger-light2);
  --cu-button-border-disabled: var(--cu-color-danger-light4);
  --cu-button-background: var(--cu-color-danger);
  --cu-button-background-hover: var(--cu-color-danger-light2);
  --cu-button-background-disabled: var(--cu-color-danger-light4);
}
.cu-button--info {
  --cu-button-color: #ffffff;
  --cu-button-color-disabled: #ffffff;
  --cu-button-border: var(--cu-color-info);
  --cu-button-border-hover: var(--cu-color-info-light2);
  --cu-button-border-disabled: var(--cu-color-info-light4);
  --cu-button-background: var(--cu-color-info);
  --cu-button-background-hover: var(--cu-color-info-light2);
  --cu-button-background-disabled: var(--cu-color-info-light4);
}
.cu-button.is-plain {
  --cu-button-color-hover: var(--cu-color-primary);
  --cu-button-background-hover: var(--cu-color-primary-light9);
  --cu-button-background-disabled: #ffffff;
}

.cu-button--primary.is-plain {
  --cu-button-color: var(--cu-color-primary);
  --cu-button-color-hover: #ffffff;
  --cu-button-color-disabled: var(--cu-color-primary-light4);
  --cu-button-border: var(--cu-color-primary);
  --cu-button-border-hover: var(--cu-color-primary);
  --cu-button-border-disabled: var(--cu-color-primary-light4);
  --cu-button-background: var(--cu-color-primary-light9);
  --cu-button-background-hover: var(--cu-color-primary);
  --cu-button-background-disabled: var(--cu-color-primary-light9);
}
.cu-button--success.is-plain {
  --cu-button-color: var(--cu-color-success);
  --cu-button-color-hover: #ffffff;
  --cu-button-color-disabled: var(--cu-color-success-light4);
  --cu-button-border: var(--cu-color-success);
  --cu-button-border-hover: var(--cu-color-success);
  --cu-button-border-disabled: var(--cu-color-success-light4);
  --cu-button-background: var(--cu-color-success-light9);
  --cu-button-background-hover: var(--cu-color-success);
  --cu-button-background-disabled: var(--cu-color-success-light9);
}
.cu-button--warning.is-plain {
  --cu-button-color: var(--cu-color-warning);
  --cu-button-color-hover: #ffffff;
  --cu-button-color-disabled: var(--cu-color-warning-light4);
  --cu-button-border: var(--cu-color-warning);
  --cu-button-border-hover: var(--cu-color-warning);
  --cu-button-border-disabled: var(--cu-color-warning-light4);
  --cu-button-background: var(--cu-color-warning-light9);
  --cu-button-background-hover: var(--cu-color-warning);
  --cu-button-background-disabled: var(--cu-color-warning-light9);
}
.cu-button--danger.is-plain {
  --cu-button-color: var(--cu-color-danger);
  --cu-button-color-hover: #ffffff;
  --cu-button-color-disabled: var(--cu-color-danger-light4);
  --cu-button-border: var(--cu-color-danger);
  --cu-button-border-hover: var(--cu-color-danger);
  --cu-button-border-disabled: var(--cu-color-danger-light4);
  --cu-button-background: var(--cu-color-danger-light9);
  --cu-button-background-hover: var(--cu-color-danger);
  --cu-button-background-disabled: var(--cu-color-danger-light9);
}
.cu-button--info.is-plain {
  --cu-button-color: var(--cu-color-info);
  --cu-button-color-hover: #ffffff;
  --cu-button-color-disabled: var(--cu-color-info-light4);
  --cu-button-border: var(--cu-color-info);
  --cu-button-border-hover: var(--cu-color-info);
  --cu-button-border-disabled: var(--cu-color-info-light4);
  --cu-button-background: var(--cu-color-info-light9);
  --cu-button-background-hover: var(--cu-color-info);
  --cu-button-background-disabled: var(--cu-color-info-light9);
}

.cu-button.is-light {
  --cu-button-color-hover: var(--cu-color-primary);
  --cu-button-border-hover: var(--cu-color-primary);
  --cu-button-background: transparent;
  --cu-button-background-hover: transparent;
  --cu-button-background-disabled: transparent;
}

.cu-button--primary.is-light {
  --cu-button-color: var(--cu-color-primary);
  --cu-button-color-hover: var(--cu-color-primary);
  --cu-button-color-disabled: var(--cu-color-primary-light4);
  --cu-button-border: var(--cu-color-primary);
  --cu-button-border-hover: var(--cu-color-primary);
  --cu-button-border-disabled: var(--cu-color-primary-light4);
  --cu-button-background-hover: var(--cu-color-primary-light9);
}
.cu-button--success.is-light {
  --cu-button-color: var(--cu-color-success);
  --cu-button-color-hover: var(--cu-color-success);
  --cu-button-color-disabled: var(--cu-color-success-light4);
  --cu-button-border: var(--cu-color-success);
  --cu-button-border-hover: var(--cu-color-success);
  --cu-button-border-disabled: var(--cu-color-success-light4);
  --cu-button-background-hover: var(--cu-color-success-light9);
}
.cu-button--warning.is-light {
  --cu-button-color: var(--cu-color-warning);
  --cu-button-color-hover: var(--cu-color-warning);
  --cu-button-color-disabled: var(--cu-color-warning-light4);
  --cu-button-border: var(--cu-color-warning);
  --cu-button-border-hover: var(--cu-color-warning);
  --cu-button-border-disabled: var(--cu-color-warning-light4);
  --cu-button-background-hover: var(--cu-color-warning-light9);
}
.cu-button--danger.is-light {
  --cu-button-color: var(--cu-color-danger);
  --cu-button-color-hover: var(--cu-color-danger);
  --cu-button-color-disabled: var(--cu-color-danger-light4);
  --cu-button-border: var(--cu-color-danger);
  --cu-button-border-hover: var(--cu-color-danger);
  --cu-button-border-disabled: var(--cu-color-danger-light4);
  --cu-button-background-hover: var(--cu-color-danger-light9);
}
.cu-button--info.is-light {
  --cu-button-color: var(--cu-color-info);
  --cu-button-color-hover: var(--cu-color-info);
  --cu-button-color-disabled: var(--cu-color-info-light4);
  --cu-button-border: var(--cu-color-info);
  --cu-button-border-hover: var(--cu-color-info);
  --cu-button-border-disabled: var(--cu-color-info-light4);
  --cu-button-background-hover: var(--cu-color-info-light9);
}

.cu-button.is-dashed {
  border-style: dashed;
  --cu-button-color: var(--cu-text-color);
  --cu-button-color-hover: var(--cu-color-primary-light);
  --cu-button-color-disabled: var(--cu-text-color-light4);
  --cu-button-border: var(--cu-border-color);
  --cu-button-border-hover: var(--cu-color-primary-light);
  --cu-button-border-active: var(--cu-color-primary-light8);
  --cu-button-border-disabled: var(--cu-border-color-disabled);
  --cu-button-background: transparent;
  --cu-button-background-hover: transparent;
  --cu-button-background-disabled: transparent;
}

.cu-button--primary.is-dashed {
  --cu-button-color-hover: var(--cu-color-primary-light);
  --cu-button-border-hover: var(--cu-color-primary-light);
  --cu-button-border-active: var(--cu-color-primary-light8);
}
.cu-button--success.is-dashed {
  --cu-button-color-hover: var(--cu-color-success-light);
  --cu-button-border-hover: var(--cu-color-success-light);
  --cu-button-border-active: var(--cu-color-success-light8);
}
.cu-button--warning.is-dashed {
  --cu-button-color-hover: var(--cu-color-warning-light);
  --cu-button-border-hover: var(--cu-color-warning-light);
  --cu-button-border-active: var(--cu-color-warning-light8);
}
.cu-button--danger.is-dashed {
  --cu-button-color-hover: var(--cu-color-danger-light);
  --cu-button-border-hover: var(--cu-color-danger-light);
  --cu-button-border-active: var(--cu-color-danger-light8);
}
.cu-button--info.is-dashed {
  --cu-button-color-hover: var(--cu-color-info-light);
  --cu-button-border-hover: var(--cu-color-info-light);
  --cu-button-border-active: var(--cu-color-info-light8);
}

.cu-button.is-text {
  border: none;
  --cu-button-color: var(--cu-text-color);
  --cu-button-color-hover: var(--cu-text-color);
  --cu-button-background: transparent;
  --cu-button-background-hover: var(--cu-background-color-light);
  --cu-button-background-disabled: transparent;
  --cu-button-background-active: var(--cu-background-color);
}

.cu-button--primary.is-text {
  --cu-button-color: var(--cu-color-primary);
  --cu-button-color-hover: var(--cu-color-primary);
  --cu-button-color-disabled: var(--cu-color-primary-light4);
  --cu-button-background-hover: var(--cu-color-primary-light9);
  --cu-button-background-active: var(--cu-color-primary-light8);
}
.cu-button--success.is-text {
  --cu-button-color: var(--cu-color-success);
  --cu-button-color-hover: var(--cu-color-success);
  --cu-button-color-disabled: var(--cu-color-success-light4);
  --cu-button-background-hover: var(--cu-color-success-light9);
  --cu-button-background-active: var(--cu-color-success-light8);
}
.cu-button--warning.is-text {
  --cu-button-color: var(--cu-color-warning);
  --cu-button-color-hover: var(--cu-color-warning);
  --cu-button-color-disabled: var(--cu-color-warning-light4);
  --cu-button-background-hover: var(--cu-color-warning-light9);
  --cu-button-background-active: var(--cu-color-warning-light8);
}
.cu-button--danger.is-text {
  --cu-button-color: var(--cu-color-danger);
  --cu-button-color-hover: var(--cu-color-danger);
  --cu-button-color-disabled: var(--cu-color-danger-light4);
  --cu-button-background-hover: var(--cu-color-danger-light9);
  --cu-button-background-active: var(--cu-color-danger-light8);
}
.cu-button--info.is-text {
  --cu-button-color: var(--cu-color-info);
  --cu-button-color-hover: var(--cu-color-info);
  --cu-button-color-disabled: var(--cu-color-info-light4);
  --cu-button-background-hover: var(--cu-color-info-light9);
  --cu-button-background-active: var(--cu-color-info-light8);
}

.cu-button:disabled {
  cursor: no-drop;
  color: var(--cu-button-color-disabled);
  background-color: var(--cu-button-background-disabled);
  border-color: var(--cu-button-border-disabled);
}

.cu-button:not(:disabled):hover {
  background-color: var(--cu-button-background-hover);
  color: var(--cu-button-color-hover);
  border-color: var(--cu-button-border-hover);
}

.cu-button:not(.is-text):not(:disabled):active {
  box-shadow: inset 0 0 0 1px;
}
.cu-button-group .cu-button:first-child {
  border-radius: var(--cu-border-radius) 0 0 var(--cu-border-radius);
}
.cu-button-group .cu-button:last-child {
  border-radius: 0 var(--cu-border-radius) var(--cu-border-radius) 0;
}
.cu-button-group .cu-button {
  border-radius: 0;
}

.cu-button-group.is-round .cu-button:first-child {
  border-radius: var(--cu-button-round) 0 0 var(--cu-button-round);
}

.cu-button-group.is-round .cu-button:last-child {
  border-radius: 0 var(--cu-button-round) var(--cu-button-round) 0;
}

.cu-button-group .cu-button:not(:first-child):not(:last-child) {
  border-left-color: var(--cu-border-color);
  border-right-color: var(--cu-border-color);
}
.cu-button-group .cu-button:not(:disabled):first-child {
  border-right-color: var(--cu-border-color);
}
.cu-button-group .cu-button:not(:disabled):last-child {
  border-left-color: var(--cu-border-color);
}

.cu-button-group + .cu-button-group,
.cu-button-group + .cu-button,
.cu-button + .cu-button,
.cu-button + .cu-button-group {
  margin-left: 10px;
}

.cu-button-group .cu-button:first-child {
  margin-left: 0;
}

.cu-button-group .cu-button {
  margin-left: -1px;
}

.cu-button-group {
  display: inline-block;
  vertical-align: middle;
}
.cu-button.is-raised:not(:disabled):active {
  box-shadow: none;
  transform: translateY(1px);
}

.cu-button:disabled:not(.is-raised):active {
  box-shadow: none;
}
.cu-button.is-dashed:not(:disabled):active {
  box-shadow: 0 0 0 2px var(--cu-button-border-active);
}

.cu-button:not(:disabled).is-text:active {
  background-color: var(--cu-button-background-active);
}
