.cu-button {
  padding: 0 12px;
  border-radius: var(--cu-border-radius);
  border: 1px solid;
  cursor: pointer;
  height: var(--cu-size-default);
  font-size: 14px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  line-height: 1;
  user-select: none;
  white-space: nowrap;
  --cu-button-border: var(--cu-border-color);
  --cu-button-color: var(--cu-color-text);
  --cu-button-background: #fff;
  --cu-button-border-hover: var(--cu-color-primary);
  --cu-button-background-hover: var(--cu-color-primary);
  --cu-button-color-hover: #fff;
  --cu-button-border-disabled: var(--cu-border-color);
  --cu-button-color-disabled: var(--cu-color-text-light2);
  --cu-button-background-disabled: #fff;
  --cu-button-round: calc(var(--cu-size-default) / 2);
  background-color: var(--cu-button-background);
  border-color: var(--cu-button-border);
  color: var(--cu-button-color);
  transition: all 200ms;
  outline: none;
  position: relative;
  vertical-align: middle;
}

.cu-button.large {
  height: var(--cu-size-large);
  --cu-button-round: calc(var(--cu-size-large) / 2);
}
.cu-button.small {
  padding: 0 8px;
  height: var(--cu-size-small);
  font-size: 12px;
  --cu-button-round: calc(var(--cu-size-small) / 2);
}

.cu-button.is-round {
  border-radius: var(--cu-button-round);
}
.cu-button.is-circle {
  width: var(--cu-size-default);
  padding: 0;
  text-align: center;
  border-radius: 50%;
}

.cu-button.is-circle.small {
  width: var(--cu-size-small);
}
.cu-button.is-circle.large {
  width: var(--cu-size-large);
}

.cu-button--primary {
  --cu-button-border: var(--cu-color-primary);
  --cu-button-color: #ffffff;
  --cu-button-background: var(--cu-color-primary);
  --cu-button-border-hover: var(--cu-color-primary-light);
  --cu-button-background-hover: var(--cu-color-primary-light);
  --cu-button-border-disabled: var(--cu-color-primary-light2);
  --cu-button-color-disabled: #fff;
  --cu-button-background-disabled: var(--cu-color-primary-light2);
}

.cu-button--success {
  --cu-button-border: var(--cu-color-success);
  --cu-button-color: #ffffff;
  --cu-button-background: var(--cu-color-success);
  --cu-button-border-hover: var(--cu-color-success-light);
  --cu-button-background-hover: var(--cu-color-success-light);
  --cu-button-border-disabled: var(--cu-color-success-light2);
  --cu-button-color-disabled: #fff;
  --cu-button-background-disabled: var(--cu-color-success-light2);
}
.cu-button--warning {
  --cu-button-border: var(--cu-color-warning);
  --cu-button-color: #ffffff;
  --cu-button-background: var(--cu-color-warning);
  --cu-button-border-hover: var(--cu-color-warning-light);
  --cu-button-background-hover: var(--cu-color-warning-light);
  --cu-button-border-disabled: var(--cu-color-warning-light2);
  --cu-button-color-disabled: #fff;
  --cu-button-background-disabled: var(--cu-color-warning-light2);
}
.cu-button--danger {
  --cu-button-border: var(--cu-color-danger);
  --cu-button-color: #ffffff;
  --cu-button-background: var(--cu-color-danger);
  --cu-button-border-hover: var(--cu-color-danger-light);
  --cu-button-background-hover: var(--cu-color-danger-light);
  --cu-button-border-disabled: var(--cu-color-danger-light2);
  --cu-button-color-disabled: #fff;
  --cu-button-background-disabled: var(--cu-color-danger-light2);
}
.cu-button--info {
  --cu-button-border: var(--cu-color-info);
  --cu-button-color: #ffffff;
  --cu-button-background: var(--cu-color-info);
  --cu-button-border-hover: var(--cu-color-info-light);
  --cu-button-background-hover: var(--cu-color-info-light);
  --cu-button-border-disabled: var(--cu-color-info-light2);
  --cu-button-color-disabled: #fff;
  --cu-button-background-disabled: var(--cu-color-info-light2);
}
.cu-button.is-plain {
  --cu-button-border: var(--cu-border-color);
  --cu-button-color: var(--cu-color-text);
  --cu-button-background: #fff;
  --cu-button-background-hover: #fff;
  --cu-button-color-hover: var(--cu-color-primary);
  --cu-button-background-disabled: #fff;
}

.cu-button--primary.is-plain {
  --cu-button-border: var(--cu-color-primary);
  --cu-button-color: var(--cu-color-primary);
  --cu-button-background: #fff;
  --cu-button-background-hover: var(--cu-color-primary-light3);
  --cu-button-color-hover: var(--cu-color-primary);
  --cu-button-color-disabled: var(--cu-color-primary-light2);
}
.cu-button--success.is-plain {
  --cu-button-border: var(--cu-color-success);
  --cu-button-color: var(--cu-color-success);
  --cu-button-background: #fff;
  --cu-button-background-hover: var(--cu-color-success-light3);
  --cu-button-color-hover: var(--cu-color-success);
  --cu-button-color-disabled: var(--cu-color-success-light2);
}
.cu-button--warning.is-plain {
  --cu-button-border: var(--cu-color-warning);
  --cu-button-color: var(--cu-color-warning);
  --cu-button-background: #fff;
  --cu-button-background-hover: var(--cu-color-warning-light3);
  --cu-button-color-hover: var(--cu-color-warning);
  --cu-button-color-disabled: var(--cu-color-warning-light2);
}
.cu-button--danger.is-plain {
  --cu-button-border: var(--cu-color-danger);
  --cu-button-color: var(--cu-color-danger);
  --cu-button-background: #fff;
  --cu-button-background-hover: var(--cu-color-danger-light3);
  --cu-button-color-hover: var(--cu-color-danger);
  --cu-button-color-disabled: var(--cu-color-danger-light2);
}
.cu-button--info.is-plain {
  --cu-button-border: var(--cu-color-info);
  --cu-button-color: var(--cu-color-info);
  --cu-button-background: #fff;
  --cu-button-background-hover: var(--cu-color-info-light3);
  --cu-button-color-hover: var(--cu-color-info);
  --cu-button-color-disabled: var(--cu-color-info-light2);
}

.cu-button.loading,
.cu-button.is-disabled {
  cursor: no-drop;
  color: var(--cu-button-color-disabled);
  background-color: var(--cu-button-background-disabled);
  border-color: var(--cu-button-border-disabled);
}

.cu-button:not(.is-disabled):not(.loading):hover {
  background-color: var(--cu-button-background-hover);
  color: var(--cu-button-color-hover);
  border-color: var(--cu-button-border-hover);
}

.cu-button:active {
  box-shadow: inset 0 0 0 1px;
}
.cu-button-group .cu-button:first-child {
  border-radius: var(--cu-border-radius) 0 0 var(--cu-border-radius);
}
.cu-button-group .cu-button:last-child {
  border-radius: 0 var(--cu-border-radius) var(--cu-border-radius) 0;
}
.cu-button-group .cu-button {
  border-radius: 0;
}

.cu-button-group.is-round .cu-button:first-child {
  border-radius: var(--cu-button-round) 0 0 var(--cu-button-round);
}

.cu-button-group.is-round .cu-button:last-child {
  border-radius: 0 var(--cu-button-round) var(--cu-button-round) 0;
}

.cu-button-group .cu-button + .cu-button {
  border-left-color: var(--cu-border-color);
  margin-left: -1px;
}
.cu-button-group + .cu-button-group,
.cu-button-group + .cu-button,
.cu-button + .cu-button,
.cu-button + .cu-button-group {
  margin-left: 10px;
}
.cu-button-group {
  display: inline-block;
  vertical-align: middle;
}

.comic-plus__is-comic .cu-button {
  --cu-button-border: var(--cu-comic-border-color);
  position: relative;
  --cu-button-border-hover: var(--cu-comic-border-color);
}

.cu-button.is-disabled:active,
.cu-button.loading:active,
.comic-plus__is-comic .cu-button:active {
  box-shadow: none;
}

.comic-plus__is-comic .cu-button::before {
  position: absolute;
  content: '';
  display: block;
  width: 18px;
  height: 1px;
  background: var(--cu-comic-fill-background);
  top: -1px;
  right: 10%;
  transition: all 200ms;
  box-sizing: border-box;
}

.comic-plus__is-comic .cu-button:not(.is-disabled):active:before {
  transform: scaleX(0);
}

.comic-plus__is-comic .cu-button.is-round::before {
  right: 20%;
}

.comic-plus__is-comic .cu-button.is-circle::before {
  right: 40%;
  width: 8px;
}

.comic-plus__is-comic .cu-button.loading,
.comic-plus__is-comic .cu-button.is-disabled {
  --cu-button-border-disabled: var(--cu-disabled-border);
}

.comic-plus__is-comic .cu-button-group .cu-button + .cu-button {
  border-left-color: var(--cu-comic-border-color);
}
