.cu-badge {
  position: relative;
  display: inline-flex;
}
.cu-badge__inner {
  border: 1px solid #fff;
  display: inline-block;
  padding: 2px 6px;
  color: #fff;
  background-color: var(--cu-background-color);
  font-size: 12px;
  line-height: 1;
  border-radius: 10px;
  z-index: 1;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  cursor: default;
  position: relative;
}

.cu-badge__inner.position {
  position: absolute;
  right: calc(10px - var(--cu-badge-offsetx, 0px));
  top: var(--cu-badge-offsety, 0);
  transform: translate(100%, -50%);
}
.cu-badge__inner.dot {
  padding: 3px;
}

.cu-badge__inner.position.dot {
  padding: 0;
  width: 10px;
  height: 10px;
  right: calc(5px - var(--cu-badge-offsetx, 0px));
}
.cu-badge--primary .cu-badge__inner {
  background-color: var(--cu-color-primary);
}
.cu-badge--success .cu-badge__inner {
  background-color: var(--cu-color-success);
}
.cu-badge--warning .cu-badge__inner {
  background-color: var(--cu-color-warning);
}
.cu-badge--danger .cu-badge__inner {
  background-color: var(--cu-color-danger);
}
.cu-badge--info .cu-badge__inner {
  background-color: var(--cu-color-info);
}
