.cu-scrollbar {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
}

.cu-scrollbar__container {
  height: 100%;
  overflow: auto;
  scrollbar-width: none;
}

.cu-scrollbar__thumb {
  position: absolute;
  transition: opacity 200ms;
  cursor: pointer;
  z-index: 20;
}
.cu-scrollbar.hover .cu-scrollbar__thumb {
  opacity: 0;
}

.cu-scrollbar__thumb.thumby {
  right: 2px;
  top: 0;
  bottom: 0;
  width: 6px;
}
.cu-scrollbar__thumb.thumbx {
  left: 0;
  right: 0;
  bottom: 2px;
  height: 6px;
}

.cu-scrollbar__thumb::after {
  content: '';
  position: absolute;
  display: block;
  border-radius: 4px;
  background: #909399;
  opacity: 0.4;
  transition: opacity 200ms;
}
.cu-scrollbar__thumb.thumby::after {
  top: var(--cu-scrollbar-bartop);
  height: var(--cu-scrollbar-barheight);
  width: 100%;
  transition: height 200ms;
}
.cu-scrollbar__thumb.thumbx::after {
  left: var(--cu-scrollbar-barleft);
  height: 100%;
  width: var(--cu-scrollbar-barwidth);
  transition: width 200ms;
}

.cu-scrollbar:hover .cu-scrollbar__thumb {
  opacity: 1;
}

.cu-scrollbar__thumb:hover::after {
  opacity: 0.8;
}
