.cu-progress {
  display: flex;
  position: relative;
  align-items: center;
  color: var(--cu-color-text);
}
.cu-progress__inner {
  flex: 1;
  border: 1px solid var(--cu-border-color);
  border-radius: 4px;
  background-color: #fff;
}

.cu-progress__bar {
  background-color: var(--cu-progress-color, var(--cu-color-primary));
  transition: all 400ms ease;
  min-height: 6px;
  border-radius: inherit;
  color: #fff;
  justify-content: flex-end;
  align-items: center;
  display: flex;
}

@keyframes flow {
  from {
    background-position: -100%;
  }
  to {
    background-position: 100%;
  }
}

.cu-progress.is-line-trends .cu-progress__bar {
  background-image: linear-gradient(
    45deg,
    rgba(0, 0, 0, 0.1) 25%,
    transparent 25%,
    transparent 50%,
    rgba(0, 0, 0, 0.1) 50%,
    rgba(0, 0, 0, 0.1) 75%,
    transparent 75%,
    transparent
  );
  background-size: 1.25em 1.25em;
  animation: flow 5s linear infinite;
}

.cu-progress__describe {
  margin: 0 6px;
  min-width: 32px;
  font-size: 12px;
}

.cu-progress:not(.is-trends) .cu-progress__describe .success {
  color: var(--cu-color-success);
}
.cu-progress:not(.is-trends) .cu-progress__describe .warning {
  color: var(--cu-color-warning);
}
.cu-progress:not(.is-trends) .cu-progress__describe .fail {
  color: var(--cu-color-danger);
}

.cu-progress__circle {
  stroke: var(--cu-progress-color, var(--cu-color-primary));
  stroke-width: var(--cu-progress-strokewidth, 6);
  stroke-dasharray: var(--cu-progress-dasharray);
  stroke-dashoffset: var(--cu-progress-dashoffset);
  stroke-linecap: round;
  fill: none;
  transition: stroke-dashoffset 400ms ease;
}

.cu-progress__circle_bg {
  stroke: var(--cu-border-color);
  stroke-width: var(--cu-progress-strokewidth, 6);
  stroke-dasharray: var(--cu-progress-dasharray);
  stroke-dashoffset: 0;
  stroke-linecap: round;
  fill: none;
}

.cu-progress.is-circle,
.cu-progress.is-trends {
  display: inline-flex;
}
.cu-progress.is-circle .cu-progress__describe,
.cu-progress.is-trends .cu-progress__describe {
  position: absolute;
  left: 50%;
  top: 50%;
  min-width: 0;
  margin: 0;
  display: flex;
  transform: translate(-50%, -50%);
}

.cu-progress.is-trends .cu-progress__inner {
  border-radius: 50%;
  border: 2px solid var(--cu-progress-color, var(--cu-color-primary));
}

.cu-progress.is-trends .cu-progress__bar {
  border-radius: 50%;
  border: 1px solid #fff;
  position: relative;
  background-color: var(--cu-progress-color, var(--cu-color-primary));
}

@keyframes rotate {
  to {
    transform: rotate(360deg);
  }
}

.cu-progress.is-trends .cu-progress__bar::before,
.cu-progress.is-trends .cu-progress__bar::after {
  position: absolute;
  content: '';
  display: block;
  width: 200%;
  height: 200%;
  left: -50%;
  bottom: var(--cu-progress-dashoffset);
  transition: bottom 400ms;
}

.cu-progress.is-trends .cu-progress__bar::before {
  border-radius: 45%;
  background-color: #fff;
  animation: rotate 5s infinite linear;
}
.cu-progress.is-trends .cu-progress__bar::after {
  border-radius: 40%;
  background-color: hsla(0, 0%, 100%, 0.4);
  animation: rotate 10s infinite linear;
}

.cu-progress.is-trends .cu-progress__inner {
  overflow: hidden;
}

.comic-plus__is-comic .cu-progress:not(.is-trends) .cu-progress__inner {
  border-color: var(--cu-comic-border-color);
  position: relative;
}

.comic-plus__is-comic .cu-progress:not(.is-trends) .cu-progress__inner::before {
  position: absolute;
  content: '';
  display: block;
  width: 18px;
  height: 1px;
  background: var(--cu-comic-fill-background);
  top: -1px;
  right: 10%;
  transition: all 200ms;
  box-sizing: border-box;
}
