.cu-contextmenu-list {
  font-size: 12px;
  list-style: none;
  padding: 4px;
  margin: 0;
  min-width: 100px;
  max-width: 300px;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.22);
  background-color: #fff;
  border-radius: var(--cu-border-radius);
}

.cu-contextmenu-list__item {
  padding: 4px 8px;
  cursor: default;
  display: flex;
  align-items: center;
  border-radius: var(--cu-border-radius);
  transition: all 200ms ease-in-out;
}

.cu-contextmenu-list__item:hover {
  background-color: var(--cu-background-color-light);
  color: var(--cu-color-primary);
}

.cu-contextmenu-list__icon {
  min-width: 14px;
  margin-right: 4px;
}
