.cu-time-picker__content {
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
  padding: 0 8px;
}

.cu-time-picker__content .cu-input__inner {
  cursor: inherit;
}

.cu-time-picker__content .prefix-icon {
  min-width: 22px;
  padding-right: 8px;
  box-sizing: border-box;
  height: 100%;
  cursor: inherit;
  transition: transform 200ms;
  color: var(--cu-text-color-light6);
}

.cu-time-picker__content .suffix-icon {
  padding-left: 8px;
  color: var(--cu-text-color-light6);
  min-width: 22px;
  line-height: 1;
  box-sizing: border-box;
}

.cu-time-picker__content .clearable {
  display: none;
  cursor: pointer;
  color: var(--cu-text-color-light6);
}
.cu-time-picker:hover .clearable {
  display: initial;
}

.cu-time-picker__content .clearable:hover {
  color: var(--cu-text-color-light3);
}

.cu-time-picker__popper {
  font-size: 13px;
}

.cu-time-picker__popper .cu-time-picker__list {
  padding: calc(30px * 3) 0;
  overflow: hidden;
}
.cu-time-picker__listbox {
  width: 180px;
  display: flex;
  height: 210px;
  position: relative;
}
.cu-time-picker__listbox > div {
  flex: 1;
}

.cu-time-picker__popper.range > div {
  display: flex;
  padding: 10px;
}
.cu-time-picker__popper.range > div .time-title {
  text-align: center;
  margin-bottom: 10px;
}
.cu-time-picker__popper.range .cu-time-picker__listbox {
  border: 1px solid var(--cu-border-color);
}
.rangetime-box + .rangetime-box {
  margin-left: 10px;
}

.cu-time-picker__footer {
  border-top: 1px solid var(--cu-border-color);
  padding: 4px 8px;
  display: flex;
  justify-content: flex-end;
}

.cu-time-picker__popper .cu-time-picker__list > span {
  font-size: 12px;
  width: 100%;
  height: 30px;
  display: inline-block;
  line-height: 30px;
  text-align: center;
  cursor: pointer;
}

.cu-time-picker__popper .cu-time-picker__list > span:hover {
  background-color: var(--cu-background-color-light);
}

.cu-time-picker__listbox::before,
.cu-time-picker__listbox::after {
  content: '';
  display: block;
  height: 1px;
  position: absolute;
  left: 8px;
  right: 8px;
  top: 50%;
  opacity: 0.5;
  background-color: var(--cu-border-color);
}

.cu-time-picker__listbox::before {
  transform: translateY(-16px);
}
.cu-time-picker__listbox::after {
  transform: translateY(16px);
}

.cu-time-picker__listbox .cu-time-picker__list > span.active {
  color: var(--cu-color-primary);
  font-weight: 700;
}
