.cu-divider {
  display: inline-flex;
  font-size: 14px;
  color: var(--cu-text-color);
  align-items: center;
  justify-content: center;
  vertical-align: middle;
  --cu-divider-width: 1px;
  --cu-divider-style: solid;
  --cu-divider-color: var(--cu-border-color);
}

.cu-divider.cu-divider--horizontal {
  margin: 12px 0;
  display: flex;
  width: 100%;
  padding: 0 20px;
  height: 0;
  border-top: var(--cu-divider-width) var(--cu-divider-style) var(--cu-divider-color);
}
.cu-divider.cu-divider--vertical {
  margin: 0 8px;
  display: inline-flex;
  height: 1em;
  line-height: inherit;
  width: 0;
  border-left: var(--cu-divider-width) var(--cu-divider-style) var(--cu-divider-color);
}

.cu-divider > span {
  padding: 0 10px;
  background-color: #fff;
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.cu-divider.cu-divider--primary {
  --cu-divider-color: var(--cu-color-primary);
}
.cu-divider.cu-divider--success {
  --cu-divider-color: var(--cu-color-success);
}
.cu-divider.cu-divider--danger {
  --cu-divider-color: var(--cu-color-danger);
}
.cu-divider.cu-divider--warning {
  --cu-divider-color: var(--cu-color-warning);
}
.cu-divider.cu-divider--info {
  --cu-divider-color: var(--cu-color-info);
}
