.cu-ellipsis {
  font-size: 13px;
  line-height: 1.5;
}

.cu-ellipsis__button {
  margin: 0 auto;
  width: fit-content;
  cursor: pointer;
  transition: all 200ms;
  display: flex;
  align-items: center;
  color: var(--cu-text-color-light4);
}

.float {
  float: right;
  clear: both;
}

.cu-ellipsis__text.is-ellipsis:before {
  content: '';
  float: right;
  width: 0px;
  height: 100%;
  margin-bottom: var(--cu-ellipsis-button-height);
}

.cu-ellipsis__button:hover {
  color: var(--cu-color-primary);
}
.cu-ellipsis__text {
  width: 100%;
  overflow: hidden;
  display: -webkit-box;
  word-break: break-all;
  -webkit-line-clamp: var(--cu-ellipsis-clamp);
  -webkit-box-orient: vertical;
}
