.cu-input__content {
  position: relative;
  width: 100%;
  height: 100%;
  display: inline-flex;
  align-items: center;
  padding: 0 8px;
}

.cu-input .prefix-icon,
.cu-input .suffix-icon {
  min-width: 22px;
  height: 100%;
  box-sizing: border-box;
  color: var(--cu-color-text-light);
}
.cu-input .prefix-icon {
  padding-right: 8px;
}
.cu-input .suffix-icon {
  padding-left: 8px;
}

.cu-input .prefix-slot,
.cu-input .suffix-slot {
  padding: 0 10px;
  height: 100%;
  background-color: var(--cu-background-color);
  color: var(--cu-color-text-light);
  display: inline-flex;
  align-items: center;
  cursor: pointer;
}
.cu-input .prefix-slot {
  border-right: 1px solid;
  border-color: inherit;
  border-radius: var(--cu-border-radius) 0 0 var(--cu-border-radius);
}
.cu-input .suffix-slot {
  border-left: 1px solid;
  border-color: inherit;
  border-radius: 0 var(--cu-border-radius) var(--cu-border-radius) 0;
}
.cu-input__content .clearable {
  padding-left: 8px;
  color: var(--cu-color-text-light2);
  min-width: 22px;
  height: 100%;
  box-sizing: border-box;
}

.cu-input__content .clearable i {
  display: none;
  cursor: pointer;
}

.cu-input:hover .clearable i {
  display: initial;
}
.cu-input__content .clearable i:hover {
  color: var(--cu-color-text);
}
