.cu-timeline {
  list-style: none;
  padding: 0;
  margin: 0;
  font-size: 15px;
}

.cu-timeline-item {
  padding-left: 20px;
  padding-bottom: 20px;
  position: relative;
  min-height: 40px;
}

.cu-timeline .cu-timeline-item:last-child .cu-timeline__line {
  display: none;
}

.cu-timeline.is-cross .cu-timeline-item {
  width: 50%;
  transform: translateX(calc(100% - 5px));
}
.cu-timeline.is-cross .cu-timeline-item.is-reverse {
  transform: translateX(5px);
  padding-left: 0;
  padding-right: 20px;
}

.cu-timeline.is-cross .cu-timeline-item.is-reverse .cu-timeline__axle {
  left: auto;
  right: 0;
}

.cu-timeline__axle {
  padding-top: 5px;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: var(--cu-text-color-light5);
}

.cu-timeline__dot {
  border-radius: 50%;
  width: 10px;
  height: 10px;
  border: 2px solid var(--cu-timeline-dotcolor, var(--cu-background-color));
}
.cu-timeline__dot.fill {
  background-color: var(--cu-timeline-dotcolor, var(--cu-background-color));
}

.cu-timeline__line {
  margin-top: 5px;
  width: 0;
  border-left: 2px solid var(--cu-background-color);
  flex: 1;
}
.cu-timeline__line.dashed {
  border-left-style: dashed;
}

.cu-timeline.is-cross .cu-timeline-item.is-reverse .cu-timeline__content {
  text-align: right;
}

.cu-timeline__timestamp {
  font-size: 12px;
  color: var(--cu-text-color-light6);
}

.cu-timeline__content.top .cu-timeline__timestamp {
  margin-bottom: 8px;
}

.cu-timeline__content.bottom .cu-timeline__timestamp {
  margin-top: 8px;
}
