.cu-cascader__content {
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
  padding: 0 8px;
}
.cu-cascader__content .cu-input__inner {
  cursor: inherit;
}

.cu-cascader__content .suffix-icon {
  padding-left: 8px;
  color: var(--cu-text-color-light6);
  min-width: 22px;
  box-sizing: border-box;
}

.cu-cascader:not(.is-disabled):hover .has-value .cu-cascader__down,
.cu-cascader__content .clearable {
  display: none;
}
.cu-cascader__content .clearable {
  cursor: pointer;
  color: var(--cu-text-color-light6);
}

.cu-cascader:not(.is-disabled):hover .has-value .clearable {
  display: initial;
}

.cu-cascader__content .clearable:hover {
  color: var(--cu-text-color);
}

.cu-cascader__down {
  display: inline-block;
  line-height: 1;
  transition: all 200ms;
  transform-origin: center center;
}

.cu-cascader.expand .cu-cascader__down {
  transform: rotate(180deg);
}

.cu-cascader__popper {
  height: 208px;
  font-size: 14px;
  white-space: nowrap;
}

.cu-cascader__popper .cu-cascader-pane {
  margin: 4px 0;
  height: calc(100% - 8px);
  min-width: 180px;
  overflow-y: hidden;
  display: inline-block;
}
.cu-cascader__popper .cu-cascader-pane:nth-child(n + 2) {
  border-left: 1px solid var(--cu-border-color);
}

.cu-cascader__popper .cu-cascader-pane__item {
  height: var(--cu-size-default);
  padding: 0 8px;
  line-height: var(--cu-size-default);
  font-size: 13px;
  display: flex;
  justify-content: space-between;
  position: relative;
  cursor: pointer;
  background-color: #fff;
  color: var(--cu-text-color-light2);
  transition: background-color 200ms;
}
.cu-cascader__popper .cu-cascader-pane__item.active {
  color: var(--cu-color-primary);
}
.cu-cascader__popper .cu-cascader-pane__item > span,
.cu-cascader__popper .cu-cascader-pane__item > i {
  position: relative;
  z-index: 1;
}

.cu-cascader__popper .cu-cascader-pane__item:hover:not(.disabled) {
  background-color: var(--cu-background-color-light);
}

.cu-cascader__popper .cu-cascader-pane__item.disabled {
  color: var(--cu-text-color-light7);
  cursor: no-drop;
}

.cu-cascader__popper.large .cu-cascader-pane__item {
  height: var(--cu-size-large);
  line-height: var(--cu-size-large);
  font-size: 14px;
}
.cu-cascader__popper.small .cu-cascader-pane__item {
  height: var(--cu-size-small);
  line-height: var(--cu-size-small);
  font-size: 12px;
}
