.cu-zone {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
}

.cu-zone .cu-zone__container {
  position: absolute;
}

.cu-zone.is-horizontal > .cu-zone__container {
  height: 100%;
}
.cu-zone.is-vertical > .cu-zone__container {
  width: 100%;
}

.cu-zone.is-horizontal > .cu-zone--start {
  left: 0;
  padding-right: calc(var(--cu-zone-line-weight) / 2);
}
.cu-zone.is-horizontal > .cu-zone--end {
  right: 0;
  padding-left: calc(var(--cu-zone-line-weight) / 2);
}

.cu-zone.is-vertical > .cu-zone--start {
  top: 0;
  padding-bottom: calc(var(--cu-zone-line-weight) / 2);
}
.cu-zone.is-vertical > .cu-zone--end {
  bottom: 0;
  padding-top: calc(var(--cu-zone-line-weight) / 2);
}

.cu-zone > .cu-zone__line {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 3;
}

.cu-zone .cu-zone__defaultline {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--cu-background-color);
  border: 1px solid var(--cu-border-color);
}

.cu-zone.is-horizontal > .cu-zone__line {
  height: 100%;
  width: var(--cu-zone-line-weight);
  overflow: hidden;
  cursor: col-resize;
  transform: translateX(-50%);
}

.cu-zone.is-vertical > .cu-zone__line {
  width: 100%;
  height: var(--cu-zone-line-weight);
  cursor: row-resize;
  transform: translateY(-50%);
}

.cu-zone.is-disabled > .cu-zone__line {
  opacity: 0.7;
  cursor: no-drop;
}

.cu-zone.is-horizontal > .cu-zone__line .cu-zone__defaultline {
  border-top: 0;
  border-bottom: 0;
  flex-direction: column;
}

.cu-zone.is-vertical > .cu-zone__line .cu-zone__defaultline {
  border-left: 0;
  border-right: 0;
}

.cu-zone > .cu-zone__line .default-span {
  width: var(--cu-zone-line-weight);
  height: var(--cu-zone-line-weight);
  border: 1px solid var(--cu-border-color);
}

.cu-zone.is-horizontal > .cu-zone__line .default-span {
  margin: 2px 0;
  border-left: 0;
  border-right: 0;
}

.cu-zone.is-vertical > .cu-zone__line .default-span {
  margin: 0 2px;
  border-top: 0;
  border-bottom: 0;
}
