.cu-input__inner {
  padding: 0;
  border: 0;
  height: 100%;
  width: 100%;
  flex-grow: 1;
  outline: none;
  color: inherit;
  line-height: inherit;
  font-size: inherit;
  font-family: inherit;
  background-color: transparent;
}
.cu-input__inner::placeholder {
  color: var(--cu-placeholder-color);
}
.cu-input__inner::-webkit-outer-spin-button,
.cu-input__inner::-webkit-inner-spin-button {
  -webkit-appearance: none;
}
.cu-input__inner[type='number'] {
  -moz-appearance: textfield;
}
.cu-input,
.cu-cascader,
.cu-select,
.cu-input-number,
.cu-time-picker,
.cu-date-picker {
  display: inline-flex;
  width: 100%;
  vertical-align: middle;
  align-items: center;
  position: relative;
  background-color: #fff;
  border: 1px solid transparent;
  border-color: var(--cu-border-color);
  color: var(--cu-text-color);
  border-radius: var(--cu-border-radius);
  height: var(--cu-size-default);
  font-size: 13px;
  line-height: calc(var(--cu-size-default) - 2px);
  transition: all 200ms;
  overflow: hidden;
}

.cu-time-picker,
.cu-date-picker {
  width: auto;
}
.cu-time-picker.is-range input,
.cu-date-picker.is-range input {
  text-align: center;
}
.cu-input.is-disabled,
.cu-cascader.is-disabled,
.cu-select.is-disabled,
.cu-input-number.is-disabled,
.cu-time-picker.is-disabled,
.cu-date-picker.is-disabled,
.cu-color-picker.is-disabled {
  cursor: no-drop;
  color: var(--cu-text-color-light5);
  background-color: var(--cu-background-color-disabled);
  border-color: var(--cu-border-color-disabled);
}
[class*='cu-'].is-disabled input,
[class^='cu-'].is-disabled input {
  background-color: var(--cu-background-color-disabled);
  cursor: no-drop;
}
.cu-input:focus-within,
.cu-input:not(.is-disabled):hover,
.cu-textarea:focus-within,
.cu-textarea:not(.is-disabled):hover,
.cu-input-number:focus-within,
.cu-input-number:not(.is-disabled):hover,
.cu-cascader:not(.is-disabled):hover,
.cu-cascader.expand,
.cu-select:not(.is-disabled):hover,
.cu-select.expand,
.cu-time-picker.expand,
.cu-time-picker:not(.is-disabled):hover,
.cu-date-picker.expand,
.cu-date-picker:not(.is-disabled):hover,
.cu-color-picker.expand,
.cu-color-picker:not(.is-disabled):hover {
  border-color: var(--cu-color-primary);
}
.cu-cascader,
.cu-select {
  flex-direction: column;
  align-items: center;
  cursor: default;
}
.cu-input.large,
.cu-cascader.large,
.cu-select.large,
.cu-input-number.large,
.cu-time-picker.large,
.cu-date-picker.large {
  height: var(--cu-size-large);
  line-height: calc(var(--cu-size-large) - 2px);
  font-size: 14px;
}

.cu-input.small,
.cu-cascader.small,
.cu-select.small,
.cu-input-number.small,
.cu-time-picker.small,
.cu-date-picker.small {
  height: var(--cu-size-small);
  line-height: calc(var(--cu-size-small) - 2px);
  font-size: 11px;
}

.cu-input-number {
  --cu-inputnumber-buttonsize: var(--cu-size-default);
}
.cu-input-number.large {
  --cu-inputnumber-buttonsize: var(--cu-size-large);
}
.cu-input-number.small {
  --cu-inputnumber-buttonsize: var(--cu-size-small);
}

.cu-form-item.is-error .cu-input,
.cu-form-item.is-error .cu-input-number,
.cu-form-item.is-error .cu-cascader,
.cu-form-item.is-error .cu-select,
.cu-form-item.is-error .cu-time-picker,
.cu-form-item.is-error .cu-textarea,
.cu-form-item.is-error .cu-date-picker,
.cu-form-item.is-error .cu-color-picker,
.cu-form-item.is-error .cu-checkbox__inner,
.cu-form-item.is-error .cu-radio,
.cu-form-item.is-error .cu-radio-button,
.cu-form-item.is-error .cu-upload__trigger {
  border-color: var(--cu-color-danger);
}
