.cu-popup {
  background-color: #fff;
  border-radius: var(--cu-border-radius);
  color: var(--cu-text-color-light);
  width: 360px;
  font-size: 15px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.12), 0 0 6px rgba(0, 0, 0, 0.04);
  border: 1px solid transparent;
  position: relative;
}
.cu-popup.cu-popup--primary .cu-popup__head--icon {
  color: var(--cu-color-primary);
}
.cu-popup.cu-popup--success .cu-popup__head--icon {
  color: var(--cu-color-success);
}
.cu-popup.cu-popup--warning .cu-popup__head--icon {
  color: var(--cu-color-warning);
}
.cu-popup.cu-popup--error .cu-popup__head--icon {
  color: var(--cu-color-danger);
}
.cu-popup.cu-popup--info .cu-popup__head--icon {
  color: var(--cu-color-info);
}
.cu-popup__head {
  min-height: 36px;
  font-size: 15px;
  display: flex;
}
.cu-popup__head .cu-popup__title {
  padding: 10px;
  flex: 1;
}
.cu-popup__head .cu-popup__head--icon {
  margin-right: 4px;
}

.cu-popup__head .close-icon {
  margin-top: 8px;
  margin-right: 8px;
  cursor: pointer;
  color: var(--cu-text-color-light3);
}

.cu-popup__head .close-icon:hover {
  color: var(--cu-text-color-light);
}

.cu-popup__content {
  padding: 15px;
  font-size: 13px;
  min-height: 60px;
  color: inherit;
  color: var(--cu-text-color-light3);
}

.cu-popup__footer {
  padding: 10px;
  display: flex;
  justify-content: flex-end;
  color: inherit;
}

.cu-popup.is-center .cu-popup__head {
  padding: 0 30px;
  position: relative;
  text-align: center;
}
.cu-popup.is-center .cu-popup__head > i {
  position: absolute;
  right: 4px;
  top: 50%;
  transform: translateY(-50%);
}
.cu-popup.is-center .cu-popup__content {
  text-align: center;
}
.cu-popup.is-center .cu-popup__footer {
  justify-content: center;
}

.cu-message {
  display: inline-flex;
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  align-items: center;
  border: 1px solid var(--cu-border-color);
  color: var(--cu-text-color);
  border-radius: var(--cu-border-radius);
  font-size: 14px;
  min-width: 200px;
  background-color: #fff;
  padding: 8px 15px;
  transition: all 300ms;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.12);
}

.cu-message.cu-message--primary {
  background-color: var(--cu-color-primary-light9);
  color: var(--cu-color-primary);
}
.cu-message.cu-message--success {
  background-color: var(--cu-color-success-light9);
  color: var(--cu-color-success);
}
.cu-message.cu-message--warning {
  background-color: var(--cu-color-warning-light9);
  color: var(--cu-color-warning);
}
.cu-message.cu-message--error {
  background-color: var(--cu-color-danger-light9);
  color: var(--cu-color-danger);
}
.cu-message.cu-message--info {
  background-color: var(--cu-color-info-light9);
  color: var(--cu-color-info);
}

.cu-message .close-icon {
  margin-left: auto;
  font-size: 14px;
  cursor: pointer;
}
.cu-message > span {
  padding: 0 4px;
}
.cu-message .message-icon {
  flex-shrink: 0;
}

.fade-message-enter-from,
.fade-message-leave-to {
  opacity: 0;
  transform: translate(-50%, -100%);
}

.cu-notice-popup {
  position: fixed;
  height: 0;
}

.cu-notice-popup--rt {
  right: 0;
  top: 0;
}

.cu-notice-popup--rb {
  right: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.cu-notice-popup--lt {
  left: 0;
  top: 0;
}

.cu-notice-popup--lb {
  left: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.cu-notice {
  position: relative;
  width: 240px;
  background-color: #fff;
  border-radius: var(--cu-border-radius);
  padding: 8px 10px;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.12);
  color: var(--cu-text-color-light);
  font-size: 14px;
  transition: all 200ms;
  border: 1px solid var(--cu-border-color);
}

:where(.cu-notice-popup--rt, .cu-notice-popup--rb) .cu-notice {
  margin-right: 10px;
}

:where(.cu-notice-popup--lt, .cu-notice-popup--lb) .cu-notice {
  margin-left: 10px;
}

:where(.cu-notice-popup--lt, .cu-notice-popup--rt) .cu-notice {
  margin-top: 10px;
}
:where(.cu-notice-popup--lb, .cu-notice-popup--rb) .cu-notice {
  margin-bottom: 10px;
}

.cu-notice.is-click {
  cursor: pointer;
}
.cu-notice.is-click:hover {
  border-color: var(--cu-notice-hovercolor, var(--cu-text-color-light));
}
.cu-notice.is-click.cu-notice--primary:hover {
  border-color: var(--cu-notice-hovercolor, var(--cu-color-primary));
}
.cu-notice.is-click.cu-notice--success:hover {
  border-color: var(--cu-notice-hovercolor, var(--cu-color-success));
}
.cu-notice.is-click.cu-notice--warning:hover {
  border-color: var(--cu-notice-hovercolor, var(--cu-color-warning));
}
.cu-notice.is-click.cu-notice--error:hover {
  border-color: var(--cu-notice-hovercolor, var(--cu-color-danger));
}
.cu-notice.is-click.cu-notice--info:hover {
  border-color: var(--cu-notice-hovercolor, var(--cu-color-info));
}

.cu-notice__head {
  position: relative;
  padding-right: 20px;
}

.cu-notice__head .cu-notice__head--icon {
  margin-right: 4px;
}

.cu-notice__head .close-icon {
  position: absolute;
  right: 0;
  top: 0;
  cursor: pointer;
  color: var(--cu-text-color-light3);
}
.cu-notice__head .close-icon:hover {
  color: var(--cu-text-color-light);
}

.cu-notice__main {
  margin-top: 4px;
  color: var(--cu-text-color-light6);
  font-size: 12px;
}

.cu-notice.cu-notice--success .cu-notice__head {
  color: var(--cu-color-success);
}

.cu-notice.cu-notice--error .cu-notice__head {
  color: var(--cu-color-danger);
}

.cu-notice.cu-notice--warning .cu-notice__head {
  color: var(--cu-color-warning);
}

.cu-notice.cu-notice--info .cu-notice__head {
  color: var(--cu-color-info);
}

.cu-notice.cu-notice--primary .cu-notice__head {
  color: var(--cu-color-primary);
}

.cu-notice-rb-enter-active,
.cu-notice-rb-leave-active,
.cu-notice-rt-enter-active,
.cu-notice-rt-leave-active,
.cu-notice-lb-enter-active,
.cu-notice-lb-leave-active,
.cu-notice-lt-enter-active,
.cu-notice-lt-leave-active,
.cu-notice-rb-move,
.cu-notice-rt-move,
.cu-notice-lb-move,
.cu-notice-lt-move {
  transition: all 300ms;
}
.cu-notice-rb-leave-active,
.cu-notice-rt-leave-active,
.cu-notice-lb-leave-active,
.cu-notice-lt-leave-active {
  position: absolute;
}

.cu-notice-rb-enter-from,
.cu-notice-rb-leave-to {
  transform: translateX(100%);
}

.cu-notice-rt-enter-from,
.cu-notice-rt-leave-to {
  transform: translateX(100%);
}

.cu-notice-lb-enter-from,
.cu-notice-lb-leave-to {
  transform: translateX(-100%);
}

.cu-notice-lt-enter-from,
.cu-notice-lt-leave-to {
  transform: translateX(-100%);
}

.cu-notice-rb-leave-to,
.cu-notice-rt-leave-to,
.cu-notice-lb-leave-to,
.cu-notice-lt-leave-to {
  opacity: 0;
}
