.cu-collapse {
  display: block;
  width: 100%;
  font-size: 14px;
  color: var(--cu-text-color-light);
}
.cu-collapse-item .cu-collapse-item__head {
  padding: 8px;
  width: 100%;
  display: flex;
  align-items: center;
  cursor: pointer;
}
.cu-collapse-item .cu-collapse-item__line {
  flex: 1;
  margin: 0 8px;
  height: 0;
  border-top: 1px dashed var(--cu-border-color);
}

.cu-collapse-item .cu-collapse--icon {
  border-radius: 50%;
  transition: transform 200ms;
}
.cu-collapse-item .cu-collapse--icon.active {
  transform: rotate(90deg);
}

.cu-collapse-item .cu-collapse-item__content {
  padding: 0 8px;
  font-size: 13px;
}

.cu-collapse.fill .cu-collapse-item {
  border: 1px solid var(--cu-border-color);
  border-radius: var(--cu-border-radius);
  padding: 0 10px;
  background: #fff;
}
.cu-collapse.fill .cu-collapse-item__line {
  border: none;
}
.cu-collapse.fill .cu-collapse-item .cu-collapse-item__content {
  padding-bottom: 10px;
}
.cu-collapse.fill .cu-collapse-item + .cu-collapse-item {
  margin-top: var(--cu-collapse-gap);
}
