.cu-tag,
.cu-tag-complex {
  padding: 0 8px;
  border-radius: var(--cu-border-radius);
  color: var(--cu-text-color);
  line-height: 1;
  font-size: 12px;
  height: var(--tag-size, 20px);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  position: relative;
  background-color: var(--cu-background-color);
  cursor: default;
  white-space: nowrap;
  vertical-align: middle;
  overflow: hidden;
  border-color: var(--cu-border-color);
  transition: all 320ms ease;
}

.cu-tag.is-round,
.cu-tag-complex.is-round {
  border-radius: calc(var(--tag-size, 20px) / 2);
}

.cu-tag-complex {
  padding: 0;
  background-color: transparent;
  border: 1px solid var(--cu-border-color);
}
.cu-tag-complex .complex-content {
  background-color: #b7b7b7;
  padding: 0 4px;
  color: #fff;
}

.cu-tag-complex .cu-tag-content {
  padding: 0 8px;
}

.cu-tag-complex .cu-tag-content,
.cu-tag-complex .complex-content {
  height: 100%;
  display: inline-flex;
  align-items: center;
}

.cu-tag .closeicon,
.cu-tag-complex .closeicon {
  margin-left: 4px;
  font-size: 14px;
  cursor: pointer;
}

.cu-tag.is-plain {
  background-color: var(--cu-background-color-light);
}

.cu-tag.is-light {
  background-color: transparent;
}

.cu-tag.is-border {
  border-width: 1px;
  border-style: solid;
}

.cu-tag--primary {
  background-color: var(--cu-color-primary);
  border-color: var(--cu-color-primary);
  color: #fff;
}
.cu-tag--success {
  background-color: var(--cu-color-success);
  border-color: var(--cu-color-success);
  color: #fff;
}
.cu-tag--warning {
  background-color: var(--cu-color-warning);
  border-color: var(--cu-color-warning);
  color: #fff;
}
.cu-tag--danger {
  background-color: var(--cu-color-danger);
  border-color: var(--cu-color-danger);
  color: #fff;
}
.cu-tag--info {
  background-color: var(--cu-color-info);
  border-color: var(--cu-color-info);
  color: #fff;
}

.cu-tag--primary.is-plain {
  background-color: var(--cu-color-primary-light9);
  color: var(--cu-color-primary);
  border-color: var(--cu-color-primary);
}
.cu-tag--success.is-plain {
  background-color: var(--cu-color-success-light9);
  color: var(--cu-color-success);
  border-color: var(--cu-color-success);
}
.cu-tag--warning.is-plain {
  background-color: var(--cu-color-warning-light9);
  color: var(--cu-color-warning);
  border-color: var(--cu-color-warning);
}
.cu-tag--danger.is-plain {
  background-color: var(--cu-color-danger-light9);
  color: var(--cu-color-danger);
  border-color: var(--cu-color-danger);
}
.cu-tag--info.is-plain {
  background-color: var(--cu-color-info-light9);
  color: var(--cu-color-info);
  border-color: var(--cu-color-info);
}

.cu-tag--primary.is-light {
  border-color: var(--cu-color-primary);
  color: var(--cu-color-primary);
}
.cu-tag--success.is-light {
  border-color: var(--cu-color-success);
  color: var(--cu-color-success);
}
.cu-tag--warning.is-light {
  border-color: var(--cu-color-warning);
  color: var(--cu-color-warning);
}
.cu-tag--danger.is-light {
  border-color: var(--cu-color-danger);
  color: var(--cu-color-danger);
}
.cu-tag--info.is-light {
  border-color: var(--cu-color-info);
  color: var(--cu-color-info);
}

.cu-tag--primary .complex-content {
  background-color: var(--cu-color-primary);
}
.cu-tag--success .complex-content {
  background-color: var(--cu-color-success);
}

.cu-tag--warning .complex-content {
  background-color: var(--cu-color-warning);
}

.cu-tag--danger .complex-content {
  background-color: var(--cu-color-danger);
}

.cu-tag--info .complex-content {
  background-color: var(--cu-color-info);
}

.cu-tag-complex .cu-tag-content {
  background-color: #ffffff;
  color: var(--cu-text-color);
}

.cu-tag + .cu-tag,
.cu-tag + .cu-tag-complex,
.cu-tag-complex + .cu-tag,
.cu-tag-complex + .cu-tag-complex {
  margin-left: 10px;
}
