.cu-rate {
  display: inline-flex;
  align-items: center;
}

.cu-rate__container {
  display: flex;
  align-items: center;
  transition: all 200ms;
}

.cu-rate-item {
  display: inline-flex;
  align-items: center;
  cursor: pointer;
  margin-right: 4px;
  position: relative;
  color: #999;
  transition: transform 200ms;
}

.cu-rate-item svg {
  display: flex;
  line-height: 1;
}

.cu-rate-item svg path {
  transition: stroke-width 200ms;
}

.cu-rate-item .mask-rate {
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  overflow: hidden;
}

.cu-rate-item .mask-rate .icon {
  display: flex;
}

.cu-rate:not(.read-only) .cu-rate-item:hover {
  transform: scale(1.2);
}

.cu-rate__text {
  margin-left: 4px;
  font-size: 14px;
}

.cu-rate.read-only .cu-rate-item {
  cursor: default;
}

.cu-rate.read-only .cu-rate__text {
  color: #f00;
}
