.cu-tree {
  color: var(--cu-text-color-light);
  font-size: 14px;
}

.cu-tree .cu-tree__empty {
  height: 40px;
  line-height: 40px;
  text-align: center;
  font-size: var(--cu-text-color-light);
}
.cu-tree .tree-icon {
  display: inline-flex;
  width: 24px;
  height: 100%;
  align-items: center;
  justify-content: center;
  transition: all 200ms;
  color: var(--cu-text-color-light4);
}

.cu-tree .tree-icon.unfold {
  transform: rotate(90deg);
}

.cu-tree__content {
  min-height: 24px;
  line-height: 24px;
  display: flex;
  align-items: center;
  cursor: pointer;
  border-radius: calc(var(--cu-border-radius) - 1px);
}

.cu-tree__content:hover {
  background-color: var(--cu-background-color-light);
}

.cu-tree__content .checkbox {
  margin-right: 4px;
  display: inline-flex;
  align-items: center;
}

.cu-tree__info {
  display: flex;
  align-items: center;
  flex: 1;
}
.cu-tree__info > .node-icon {
  margin-right: 4px;
}

.cu-tree.unfold-hover .tree-icon:hover {
  color: var(--cu-color-primary);
}
