.cu-web-footer {
  display: block;
  box-sizing: border-box;
}

.cu-web-footer__links {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 4px 20px;
}

.cu-web-footer__link {
  color: var(--cu-text-color);
  text-decoration: none;
}

.cu-web-footer__link:hover {
  text-shadow: 0 0 2px;
}
.cu-web-footer__link.underline {
  text-decoration: underline;
}

.cu-web-footer__copyright {
  text-align: center;
  color: var(--cu-text-color-light4);
}

.cu-web-footer__links ~ .cu-web-footer__copyright {
  margin-top: 8px;
}
