.cu-skeleton {
  width: 100%;
}

.cu-skeleton-item {
  height: 16px;
  background: var(--cu-background-color-light);
  border-radius: var(--cu-border-radius);
}

.cu-skeleton.animated .cu-skeleton-item {
  background: linear-gradient(
    120deg,
    var(--cu-background-color-light) 30%,
    #fff 40%,
    var(--cu-background-color-light) 50%
  );
  background-size: 200% 100%;
  background-position: 100% 0;
  animation: skeleton-animation 1.2s linear infinite;
}
.cu-skeleton .template-default .cu-skeleton-item {
  margin-top: 16px;
}

.cu-skeleton .template-default .cu-skeleton-item:first-of-type {
  width: 30%;
}

.cu-skeleton .template-default .cu-skeleton-item:last-of-type {
  width: 60%;
}

@keyframes skeleton-animation {
  to {
    background-position: -100% 0;
  }
}

.cu-skeleton-item.is-image {
  display: flex;
  justify-content: center;
  align-items: center;
}

.cu-skeleton-item.is-circle {
  width: var(--cu-skeleton-size, 40px);
  height: var(--cu-skeleton-size, 40px);
  border-radius: 50%;
}
