.cu-pistol {
  display: inline-flex;
  position: relative;
  color: var(--cu-color-text);
}

.cu-pistol__container {
  border: 1px solid var(--cu-border-color);
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  cursor: pointer;
  position: relative;
  background-color: #fff;
  font-size: 12px;
  box-shadow: var(--cu-boxshadow-base);
  z-index: 3;
  transition: background-color 400ms, color 400ms, box-shadow 200ms;
  overflow: hidden;
}

.cu-pistol__container .default-icon {
  font-size: calc(var(--cu-pistol-size) / 2);
}

.cu-pistol__container:hover {
  background-color: var(--pistol-custom-color, var(--cu-color-primary));
  color: #fff;
}

.cu-pistol.cu-pistol--primary .cu-pistol__container:hover {
  background-color: var(--pistol-custom-color, var(--cu-color-primary));
}
.cu-pistol.cu-pistol--success .cu-pistol__container:hover {
  background-color: var(--pistol-custom-color, var(--cu-color-success));
}
.cu-pistol.cu-pistol--danger .cu-pistol__container:hover {
  background-color: var(--pistol-custom-color, var(--cu-color-danger));
}
.cu-pistol.cu-pistol--warning .cu-pistol__container:hover {
  background-color: var(--pistol-custom-color, var(--cu-color-warning));
}
.cu-pistol.cu-pistol--info .cu-pistol__container:hover {
  background-color: var(--pistol-custom-color, var(--cu-color-info));
}

.cu-pistol__magazine {
  position: absolute;
  list-style: none;
  width: 0;
  height: 0;
  z-index: 1;
  left: 0;
  top: 0;
  margin: 0;
  padding: 0;
}

.cu-bullet {
  position: absolute;
  border: 1px solid var(--cu-border-color);
  border-radius: 50%;
  transition: all 200ms;
  transition-delay: var(--cu-pistol-delay);
  font-size: 12px;
  box-shadow: var(--cu-boxshadow-base);
  opacity: 0;
  cursor: pointer;
  overflow: hidden;
}
.cu-bullet .cu-bullet-content {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  color: var(--pistol-custom-color, var(--cu-color-primary));
  transition: all 200ms;
  background-color: #fff;
}

.cu-pistol.mode-wheel .cu-bullet .cu-bullet-content {
  border-radius: inherit;
}

.cu-bullet .cu-bullet-content:hover {
  background-color: var(--pistol-custom-color, var(--cu-color-primary));
  color: #fff;
}

.cu-pistol.cu-pistol--primary .cu-bullet .cu-bullet-content {
  color: var(--pistol-custom-color, var(--cu-color-primary));
}
.cu-pistol.cu-pistol--success .cu-bullet .cu-bullet-content {
  color: var(--pistol-custom-color, var(--cu-color-success));
}
.cu-pistol.cu-pistol--danger .cu-bullet .cu-bullet-content {
  color: var(--pistol-custom-color, var(--cu-color-danger));
}
.cu-pistol.cu-pistol--warning .cu-bullet .cu-bullet-content {
  color: var(--pistol-custom-color, var(--cu-color-warning));
}
.cu-pistol.cu-pistol--info .cu-bullet .cu-bullet-content {
  color: var(--pistol-custom-color, var(--cu-color-info));
}

.cu-pistol.cu-pistol--primary .cu-bullet .cu-bullet-content:hover {
  background-color: var(--pistol-custom-color, var(--cu-color-primary));
  color: #fff;
}
.cu-pistol.cu-pistol--success .cu-bullet .cu-bullet-content:hover {
  background-color: var(--pistol-custom-color, var(--cu-color-success));
  color: #fff;
}
.cu-pistol.cu-pistol--danger .cu-bullet .cu-bullet-content:hover {
  background-color: var(--pistol-custom-color, var(--cu-color-danger));
  color: #fff;
}
.cu-pistol.cu-pistol--warning .cu-bullet .cu-bullet-content:hover {
  background-color: var(--pistol-custom-color, var(--cu-color-warning));
  color: #fff;
}
.cu-pistol.cu-pistol--info .cu-bullet .cu-bullet-content:hover {
  background-color: var(--pistol-custom-color, var(--cu-color-info));
  color: #fff;
}

.cu-pistol__magazine .cu-bullet .icon {
  font-size: calc(var(--cu-pistol-size) / 2);
}

.cu-pistol.expand .cu-bullet {
  transition-delay: var(--cu-pistol-delay);
  translate: var(--x) var(--y);
  opacity: 1;
}

.cu-pistol.mode-semi .cu-pistol__container,
.cu-pistol.mode-semi .cu-pistol__magazine .cu-bullet {
  border-radius: var(--cu-border-radius);
}

.cu-pistol .cu-pistol__container:active,
.cu-bullet:active .cu-bullet-content {
  box-shadow: var(--cu-boxshadow-base), inset 0 0 0 1px;
}
