.cu-pistol {
  --cu-pistol-bs: 0 0 6px rgba(0, 0, 0, 0.12);
  display: inline-flex;
  position: relative;
  color: var(--cu-text-color-light);
}

.cu-pistol__container {
  --pistol-custom-color: var(--cu-color-primary);
  border: 1px solid var(--cu-border-color);
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  cursor: pointer;
  position: relative;
  background-color: #fff;
  font-size: 12px;
  /* box-shadow: var(--cu-pistol-bs); */
  z-index: 3;
  overflow: hidden;
}
.cu-pistol__defaultwarpper {
  width: 100%;
  height: 100%;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  transition: background-color 320ms ease-in-out, color 320ms ease-in-out;
  border-radius: inherit;
}

.cu-pistol__container .default-icon {
  font-size: calc(var(--cu-pistol-size) / 2);
}

.cu-pistol--primary .cu-pistol__container {
  --pistol-custom-color: var(--cu-color-primary);
}
.cu-pistol--success .cu-pistol__container {
  --pistol-custom-color: var(--cu-color-success);
}
.cu-pistol--danger .cu-pistol__container {
  --pistol-custom-color: var(--cu-color-danger);
}
.cu-pistol--warning .cu-pistol__container {
  --pistol-custom-color: var(--cu-color-warning);
}
.cu-pistol--info .cu-pistol__container {
  --pistol-custom-color: var(--cu-color-info);
}

.cu-pistol__container:hover .cu-pistol__defaultwarpper {
  background-color: var(--pistol-custom-color);
  color: #fff;
}

.cu-pistol__magazine {
  position: absolute;
  list-style: none;
  width: 0;
  height: 0;
  z-index: 1;
  left: 0;
  top: 0;
  margin: 0;
  padding: 0;
}

.cu-bullet {
  --pistol-custom-color: var(--cu-color-primary);
  position: absolute;
  transition: all 300ms ease-in-out;
  scale: 0.5;
  transition-delay: var(--cu-pistol-delay);
  font-size: 12px;
  opacity: 0;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid var(--cu-border-color);
  border-radius: 50%;
  color: var(--pistol-custom-color);
  background-color: #fff;
  overflow: hidden;
  box-shadow: var(--cu-pistol-bs);
}
.cu-bullet-content {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: inherit;
  background-color: inherit;
  color: inherit;
  transition: background-color 320ms ease-in-out, color 320ms ease-in-out;
}

.cu-pistol--primary .cu-bullet {
  --pistol-custom-color: var(--cu-color-primary);
}
.cu-pistol--success .cu-bullet {
  --pistol-custom-color: var(--cu-color-success);
}
.cu-pistol--danger .cu-bullet {
  --pistol-custom-color: var(--cu-color-danger);
}
.cu-pistol--warning .cu-bullet {
  --pistol-custom-color: var(--cu-color-warning);
}
.cu-pistol--info .cu-bullet {
  --pistol-custom-color: var(--cu-color-info);
}

.cu-bullet:hover .cu-bullet-content {
  background-color: var(--pistol-custom-color);
  color: #fff;
}

.cu-pistol__magazine .cu-bullet .cu-bullet__icon {
  font-size: calc(var(--cu-pistol-size) / 2);
}

.cu-pistol.expand .cu-bullet {
  transition-delay: var(--cu-pistol-delay);
  translate: var(--x) var(--y);
  opacity: 1;
  scale: 1;
}

.cu-pistol.mode-semi .cu-pistol__container,
.cu-pistol.mode-semi .cu-pistol__magazine .cu-bullet {
  border-radius: var(--cu-border-radius);
}

.cu-bullet.is-disabled .cu-bullet-content,
.cu-pistol.is-disabled .cu-pistol__defaultwarpper {
  background-color: var(--cu-background-color-disabled);
  border-color: var(--cu-border-color-disabled);
  color: var(--cu-text-color-light5);
  cursor: no-drop;
}
