.cu-popper {
  transform-origin: center top;
  border-radius: var(--cu-border-radius);
  background-color: #fff;
  filter: drop-shadow(0 0px 1px rgba(200, 200, 200, 1)) drop-shadow(0 2px 4px rgba(0, 0, 0, 0.12))
    drop-shadow(0 0 6px rgba(0, 0, 0, 0.04));
}
.cu-popper .cu-popper__arrow {
  display: block;
  width: 8px;
  height: 8px;
  translate: 0 -50%;
  background-color: #fff;
  transform: rotate(45deg);
}

.cu-popper[data-placement^='bottom'] > .cu-popper__arrow {
  top: 0;
}
.cu-popper[data-placement^='top'] > .cu-popper__arrow {
  bottom: 0;
  translate: 0 50%;
}
.cu-popper[data-placement^='top'] {
  transform-origin: center bottom;
}

.popper-enter-active,
.popper-leave-active {
  transition: transform 250ms, opacity 150ms;
}

.popper-enter-from,
.popper-leave-to {
  opacity: 0;
  transform: scaleY(0);
}

.comic-plus__is-comic .cu-popper {
  border-color: var(--cu-comic-border-color);
}
