.cu-popper {
  transform-origin: center top;
  border-radius: var(--cu-border-radius);
  filter: drop-shadow(0 0px 1px rgba(200, 200, 200, 1)) drop-shadow(0 2px 4px rgba(0, 0, 0, 0.12))
    drop-shadow(0 0 4px rgba(0, 0, 0, 0.04));
  position: relative;
}
.cu-popper.light {
  background-color: #fff;
  color: var(--cu-color-text);
}

.cu-popper.dark {
  background-color: #333;
  color: #fff;
}

.cu-popper .cu-popper__arrow {
  position: absolute;
  display: block;
  width: 8px;
  height: 8px;
  translate: 0 -50%;
  rotate: 45deg;
  background-color: inherit;
}

.cu-popper[data-placement^='bottom'] > .cu-popper__arrow {
  top: 0;
}
.cu-popper[data-placement^='top'] > .cu-popper__arrow {
  bottom: 0;
  translate: 0 50%;
}
.cu-popper[data-placement^='left'] > .cu-popper__arrow {
  right: 0;
  translate: 50% 0;
  rotate: -45deg;
}
.cu-popper[data-placement^='right'] > .cu-popper__arrow {
  left: 0;
  translate: -50% 0;
  rotate: 135deg;
}

.cu-popper[data-placement^='top'] {
  transform-origin: center bottom;
}

.popper-enter-active,
.popper-leave-active {
  transition: transform 250ms, opacity 150ms;
}

.popper-enter-from,
.popper-leave-to {
  opacity: 0;
  transform: scaleY(0);
}

.comic-plus__is-comic .cu-popper {
  border-color: var(--cu-comic-border-color);
}
