.cu-pagination {
  display: block;
  font-size: 14px;
  color: var(--cu-text-color);
  user-select: none;
  white-space: nowrap;
}
.cu-pagination__container {
  display: flex;
  align-items: center;
}
.cu-pagination__container > div {
  padding: 0 4px;
}

.cu-pagination__pages {
  display: flex;
  align-items: center;
}

.cu-pagination__pages span {
  min-width: var(--cu-size-default);
  height: var(--cu-size-default);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: var(--cu-border-radius);
  cursor: pointer;
  position: relative;
  box-sizing: border-box;
  transition: all 200ms;
  line-height: 1;
}

.cu-pagination.is-background .cu-pagination__pages span {
  margin: 0 4px;
  padding: 2px;
  background-color: var(--cu-background-color-light);
}

.cu-pagination .cu-pagination__pages span:hover,
.cu-pagination .cu-pagination__pages span.current {
  color: var(--cu-color-primary);
  border-color: var(--cu-color-primary);
}
.cu-pagination.is-background .cu-pagination__pages span.current {
  color: #fff;
  background-color: var(--cu-color-primary);
}

.cu-pagination__pages .cu-pagination__icon:first-child {
  display: block;
}
.cu-pagination__pages .cu-pagination__icon:last-child {
  display: none;
}

.cu-pagination__pages .cu-pagination__buttons:hover .cu-pagination__icon:first-child {
  display: none;
}
.cu-pagination__pages .cu-pagination__buttons:hover .cu-pagination__icon:last-child {
  display: block;
}

.cu-pagination .cu-pagination__pages span.disabled {
  color: var(--cu-text-color-light5);
  cursor: no-drop;
}
.cu-pagination__jumper {
  display: flex;
  align-items: center;
  justify-content: center;
}

.cu-pagination__jumper input {
  text-align: center;
}

.cu-pagination.small .cu-pagination__pages span {
  font-size: 12px;
  min-width: var(--cu-size-small);
  height: var(--cu-size-small);
}

.cu-pagination.small .cu-pagination__pages .cu-pagination__buttons {
  font-size: 14px;
}

.cu-pagination.large .cu-pagination__pages span {
  min-width: var(--cu-size-large);
  height: var(--cu-size-large);
}
