.cu-mode {
  position: fixed;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.4);
  overflow: hidden;
  overflow-y: auto;
}

.cu-mode__blur {
  backdrop-filter: blur(4px);
}
.cu-mode__flex {
  display: flex;
  justify-content: center;
  align-items: center;
}
