.cu-table-v2 {
  width: 100%;
  color: var(--cu-text-color-light);
  overflow: hidden;
  position: relative;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}

.cu-table-v2 .cu-table__row {
  height: calc(var(--cu-size-default) + 8px);
}

.cu-table-v2.large .cu-table__row {
  height: calc(var(--cu-size-large) + 8px);
}

.cu-table-v2.small table th,
.cu-table-v2.small table td {
  padding: 6px 0;
}
.cu-table-v2.small .cu-table__row {
  height: calc(var(--cu-size-small) + 8px);
  font-size: 12px;
}

.hidden-column {
  display: none;
}

.cu-table-v2 table {
  width: 100%;
  height: 100%;
  font-size: 14px;
  /* font-weight: normal; */
  table-layout: fixed;
}

.cu-table-v2 table th,
.cu-table-v2 table td {
  /* font-weight: normal; */
  padding: 10px 0;
  border-bottom: 1px solid var(--cu-border-color);
  text-align: left;
  background-color: inherit;
}

.cu-table-v2 tfoot th {
  border-top: 1px solid var(--cu-border-color);
}

.cu-table-v2__body .cu-table__row {
  background-color: #fff;
  transition: filter 250ms ease;
}

.cu-table-v2__footer .cu-table__row,
.cu-table-v2__header .cu-table__row {
  background-color: #fff;
}
.cu-table-v2 .cu-table__row.current-row {
  background-color: var(--cu-table-highlight-color, var(--cu-color-primary-light3));
}

.cu-table-v2--stripe .cu-table__row--stripe-odd {
  background-color: var(--cu-table-stripe-color1, #ffffff);
}

.cu-table-v2--stripe .cu-table__row--stripe-even {
  background-color: var(--cu-table-stripe-color2, #fafafa);
}

.cu-table-v2--border {
  position: relative;
  border: 1px solid var(--cu-border-color);
  border-bottom: 0;
}
.cu-table-v2--border::after {
  content: '';
  display: block;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  border-bottom: 1px solid var(--cu-border-color);
}

.cu-table-v2--border table th,
.cu-table-v2--border table td {
  border-right: 1px solid var(--cu-border-color);
  min-width: 0;
}

.cu-table-v2--border:not(.scroll-table) .cu-table__td:last-child,
.cu-table-v2--border:not(.scroll-table) .cu-table__th:last-child {
  border-right: 0;
}

.cu-table-v2--warpper {
  position: relative;
  overflow: auto;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.cu-table-v2__header {
  position: sticky;
  top: 0;
  flex-shrink: 0;
  z-index: 1;
}
.cu-table-v2__body {
  flex: 1;
  position: relative;
  z-index: 0;
}

.cu-table-v2__footer {
  flex-shrink: 0;
  position: relative;
  z-index: 1;
  position: sticky;
  bottom: 0;
  margin-top: -1px;
}

.cu-table__cell {
  padding: 0 10px;
  overflow: hidden;
  overflow-wrap: break-word;
}

.cu-table__cell.is-center {
  text-align: center;
}

.cu-table__cell.is-left {
  text-align: left;
}

.cu-table__cell.is-right {
  text-align: right;
}

.cu-table__cell .expand-icon {
  font-size: 16px;
  cursor: pointer;
  display: inline-block;
  transition: transform 200ms ease;
}

.cu-table__cell .expand-icon.is-expand {
  transform: rotate(90deg);
}

.cu-table-v2__body .cu-table__row:hover {
  filter: brightness(0.97);
}

.cu-table-v2__empty {
  width: 100%;
}

.cu-table-v2__empty_default {
  line-height: 60px;
  text-align: center;
}

.cu-table-v2 .fixed-left {
  position: sticky;
  left: 0;
  z-index: 2;
}

.cu-table-v2 .fixed-left.fixed-shadow-left:after {
  content: '';
  display: block;
  position: absolute;
  right: -10px;
  top: 0;
  bottom: 0;
  width: 10px;
}

.cu-table-v2.show-left-shadow .fixed-left.fixed-shadow-left:after {
  box-shadow: inset 10px 0 10px -10px rgba(0, 0, 0, 0.25);
}

.cu-table-v2 .fixed-right {
  position: sticky;
  right: 0;
  z-index: 2;
}

.cu-table-v2 .cu-table__row .fixed-right.fixed-shadow-right::before {
  content: '';
  display: block;
  position: absolute;
  left: -10px;
  top: 0;
  bottom: 0;
  width: 10px;
}
.cu-table-v2.show-right-shadow .cu-table__row .fixed-right.fixed-shadow-right::before {
  box-shadow: inset -10px 0 10px -10px rgba(0, 0, 0, 0.25);
}

.cu-table__indent {
  display: inline-block;
}

.cu-tabel__placeholder {
  display: inline-block;
  width: 20px;
}

.cu-table-v2 [class*='cu-table__row--level-'] .expand-icon {
  margin-right: 4px;
}
