[class^='cu-'],
[class*='cu-'] {
  font-family: inherit;
  box-sizing: border-box;
}
[class*=' cu-icon-'],
[class^='cu-icon-'] {
  font-style: normal;
  font-family: 'iconfont' !important;
}
@keyframes rotateInfinite {
  to {
    transform: rotate(360deg);
  }
}
.is-loading,
.cu-icon-loading,
.cu-icon-loading-one {
  display: inline-block;
  animation: rotateInfinite 2s infinite linear;
}
