:root {
  --cu-color-primary: #197ae9;
  --cu-color-primary-light: color-mix(in srgb, var(--cu-color-primary), white 10%);
  --cu-color-primary-light2: color-mix(in srgb, var(--cu-color-primary), white 20%);
  --cu-color-primary-light3: color-mix(in srgb, var(--cu-color-primary), white 30%);
  --cu-color-primary-light4: color-mix(in srgb, var(--cu-color-primary), white 40%);
  --cu-color-primary-light5: color-mix(in srgb, var(--cu-color-primary), white 50%);
  --cu-color-primary-light6: color-mix(in srgb, var(--cu-color-primary), white 60%);
  --cu-color-primary-light7: color-mix(in srgb, var(--cu-color-primary), white 70%);
  --cu-color-primary-light8: color-mix(in srgb, var(--cu-color-primary), white 80%);
  --cu-color-primary-light9: color-mix(in srgb, var(--cu-color-primary), white 90%);

  --cu-color-success: #22c55e;
  --cu-color-success-light: color-mix(in srgb, var(--cu-color-success), white 10%);
  --cu-color-success-light2: color-mix(in srgb, var(--cu-color-success), white 20%);
  --cu-color-success-light3: color-mix(in srgb, var(--cu-color-success), white 30%);
  --cu-color-success-light4: color-mix(in srgb, var(--cu-color-success), white 40%);
  --cu-color-success-light5: color-mix(in srgb, var(--cu-color-success), white 50%);
  --cu-color-success-light6: color-mix(in srgb, var(--cu-color-success), white 60%);
  --cu-color-success-light7: color-mix(in srgb, var(--cu-color-success), white 70%);
  --cu-color-success-light8: color-mix(in srgb, var(--cu-color-success), white 80%);
  --cu-color-success-light9: color-mix(in srgb, var(--cu-color-success), white 90%);

  --cu-color-warning: #f97316;
  --cu-color-warning-light: color-mix(in srgb, var(--cu-color-warning), white 10%);
  --cu-color-warning-light2: color-mix(in srgb, var(--cu-color-warning), white 20%);
  --cu-color-warning-light3: color-mix(in srgb, var(--cu-color-warning), white 30%);
  --cu-color-warning-light4: color-mix(in srgb, var(--cu-color-warning), white 40%);
  --cu-color-warning-light5: color-mix(in srgb, var(--cu-color-warning), white 50%);
  --cu-color-warning-light6: color-mix(in srgb, var(--cu-color-warning), white 60%);
  --cu-color-warning-light7: color-mix(in srgb, var(--cu-color-warning), white 70%);
  --cu-color-warning-light8: color-mix(in srgb, var(--cu-color-warning), white 80%);
  --cu-color-warning-light9: color-mix(in srgb, var(--cu-color-warning), white 90%);

  --cu-color-danger: #ef4444;
  --cu-color-danger-light: color-mix(in srgb, var(--cu-color-danger), white 10%);
  --cu-color-danger-light2: color-mix(in srgb, var(--cu-color-danger), white 20%);
  --cu-color-danger-light3: color-mix(in srgb, var(--cu-color-danger), white 30%);
  --cu-color-danger-light4: color-mix(in srgb, var(--cu-color-danger), white 40%);
  --cu-color-danger-light5: color-mix(in srgb, var(--cu-color-danger), white 50%);
  --cu-color-danger-light6: color-mix(in srgb, var(--cu-color-danger), white 60%);
  --cu-color-danger-light7: color-mix(in srgb, var(--cu-color-danger), white 70%);
  --cu-color-danger-light8: color-mix(in srgb, var(--cu-color-danger), white 80%);
  --cu-color-danger-light9: color-mix(in srgb, var(--cu-color-danger), white 90%);

  --cu-color-info: #909399;
  --cu-color-info-light: color-mix(in srgb, var(--cu-color-info), white 10%);
  --cu-color-info-light2: color-mix(in srgb, var(--cu-color-info), white 20%);
  --cu-color-info-light3: color-mix(in srgb, var(--cu-color-info), white 30%);
  --cu-color-info-light4: color-mix(in srgb, var(--cu-color-info), white 40%);
  --cu-color-info-light5: color-mix(in srgb, var(--cu-color-info), white 50%);
  --cu-color-info-light6: color-mix(in srgb, var(--cu-color-info), white 60%);
  --cu-color-info-light7: color-mix(in srgb, var(--cu-color-info), white 70%);
  --cu-color-info-light8: color-mix(in srgb, var(--cu-color-info), white 80%);
  --cu-color-info-light9: color-mix(in srgb, var(--cu-color-info), white 90%);

  --cu-text-color: #303133;
  --cu-text-color-light: color-mix(in srgb, var(--cu-text-color), white 10%);
  --cu-text-color-light2: color-mix(in srgb, var(--cu-text-color), white 20%);
  --cu-text-color-light3: color-mix(in srgb, var(--cu-text-color), white 30%);
  --cu-text-color-light4: color-mix(in srgb, var(--cu-text-color), white 40%);
  --cu-text-color-light5: color-mix(in srgb, var(--cu-text-color), white 50%);
  --cu-text-color-light6: color-mix(in srgb, var(--cu-text-color), white 60%);
  --cu-text-color-light7: color-mix(in srgb, var(--cu-text-color), white 70%);
  --cu-text-color-light8: color-mix(in srgb, var(--cu-text-color), white 80%);
  --cu-text-color-light9: color-mix(in srgb, var(--cu-text-color), white 90%);

  --cu-border-color: #e2e8f0;
  --cu-border-color-disabled: #dcdee2;
  --cu-background-color: #dcdfe6;
  --cu-background-color-light: #f3f3f3;
  --cu-background-color-light2: #f5f6f7;
  --cu-background-color-disabled: #f5f7fa;
  --cu-placeholder-color: #bbbdbf;

  /* 其它内容 */
  --cu-border-radius: 3px;
  --cu-size-large: 40px;
  --cu-size-default: 32px;
  --cu-size-small: 24px;
  --cu-boxshadow-base: 0 2px 4px rgba(0, 0, 0, 0.12), 0 2px 6px rgba(0, 0, 0, 0.04);
  --cu-boxshadow-base2: 0px 3px 1px -2px rgba(0, 0, 0, 0.2), 0px 2px 2px 0px rgba(0, 0, 0, 0.14),
    0px 1px 5px 0px rgba(0, 0, 0, 0.12);
}
