:root {
  --cu-color-primary: #197ae9;
  --cu-color-primary-light: #3087eb;
  --cu-color-primary-light2: #4795ed;
  --cu-color-primary-light3: #5ea2f0;
  --cu-color-primary-light4: #75aff2;
  --cu-color-primary-light5: #8cbdf4;
  --cu-color-primary-light6: #a3caf6;
  --cu-color-primary-light7: #bad7f8;
  --cu-color-primary-light8: #d1e4fb;
  --cu-color-primary-light9: #e8f2fd;

  --cu-color-success: #22c55e;
  --cu-color-success-light: #38cb6e;
  --cu-color-success-light2: #4ed17e;
  --cu-color-success-light3: #64d68e;
  --cu-color-success-light4: #7adc9e;
  --cu-color-success-light5: #91e2af;
  --cu-color-success-light6: #a7e8bf;
  --cu-color-success-light7: #bdeecf;
  --cu-color-success-light8: #d3f3df;
  --cu-color-success-light9: #e9f9ef;

  --cu-color-warning: #f97316;
  --cu-color-warning-light: #fa812d;
  --cu-color-warning-light2: #fa8f45;
  --cu-color-warning-light3: #fb9d5c;
  --cu-color-warning-light4: #fbab73;
  --cu-color-warning-light5: #fcb98b;
  --cu-color-warning-light6: #fdc7a2;
  --cu-color-warning-light7: #fdd5b9;
  --cu-color-warning-light8: #fee3d0;
  --cu-color-warning-light9: #fef1e8;

  --cu-color-danger: #ef4444;
  --cu-color-danger-light: #f15757;
  --cu-color-danger-light2: #f26969;
  --cu-color-danger-light3: #f47c7c;
  --cu-color-danger-light4: #f58f8f;
  --cu-color-danger-light5: #f7a2a2;
  --cu-color-danger-light6: #f9b4b4;
  --cu-color-danger-light7: #fac7c7;
  --cu-color-danger-light8: #fcdada;
  --cu-color-danger-light9: #fdecec;

  --cu-color-info: #909399;
  --cu-color-info-light: #9b9ea3;
  --cu-color-info-light2: #a6a9ad;
  --cu-color-info-light3: #b1b3b8;
  --cu-color-info-light4: #bcbec2;
  --cu-color-info-light5: #c8c9cc;
  --cu-color-info-light6: #d3d4d6;
  --cu-color-info-light7: #dedfe0;
  --cu-color-info-light8: #e9e9eb;
  --cu-color-info-light9: #f4f4f5;

  --cu-text-color: #020617;
  --cu-text-color-light: #1b1f2e;
  --cu-text-color-light2: #353845;
  --cu-text-color-light3: #4e515d;
  --cu-text-color-light4: #676a74;
  --cu-text-color-light5: #81838b;
  --cu-text-color-light6: #9a9ba2;
  --cu-text-color-light7: #b3b4b9;
  --cu-text-color-light8: #cccdd1;
  --cu-text-color-light9: #e6e6e8;

  --cu-border-color: #e2e8f0;
  --cu-border-color-disabled: #dcdee2;
  --cu-background-color: #dcdfe6;
  --cu-background-color-light: #f3f3f3;
  --cu-background-color-light2: #f5f6f7;
  --cu-background-color-disabled: #f5f7fa;
  --cu-placeholder-color: #bbbdbf;

  /* 其它内容 */
  --cu-border-radius: 3px;
  --cu-size-large: 40px;
  --cu-size-default: 32px;
  --cu-size-small: 24px;
  --cu-boxshadow-base: 0 2px 4px rgba(0, 0, 0, 0.12), 0 2px 6px rgba(0, 0, 0, 0.04);
  --cu-boxshadow-base2: 0px 3px 1px -2px rgba(0, 0, 0, 0.2), 0px 2px 2px 0px rgba(0, 0, 0, 0.14),
    0px 1px 5px 0px rgba(0, 0, 0, 0.12);
}
